[color]
	ui = auto
[diff]
	algorithm = histogram
[diff "ansible-vault"]
	textconv = ansible-vault view
	cachetextconv = false
[diff "gpg"]
	textconv = gpg --no-tty --decrypt
	cachetextconv = false
[difftool]
	prompt = false
[alias]
	d = difftool
	co = checkout
	graph = log --graph --oneline --decorate --all
	lg = log --graph --all --pretty=format:'%Cred%h%C(auto) - %d %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
[web]
	browser = xdg-open
[commit]
	gpgsign = true
[magit]
	hideCampaign = true
[github]
	user = dpflug
[pull]
	ff = only
[log]
	showSignature = true
[core]
	quotepath = false
	whitespace = blank-at-eol,space-before-tab
[apply]
	whitespace = error
[include]
	path = .gitconfig.local
