[user]
	name = David Pflug
	email = david@pflug.email
[color]
	ui = auto
[diff]
	tool = vimdiff
	algorithm = patience
[diff "ansible-vault"]
	textconv = ansible-vault view
	cachetextconv = false
[diff "gpg"]
	textconv = gpg --no-tty --decrypt
	cachetextconv = false
[difftool]
	prompt = false
[alias]
	d = difftool
	graph = log --graph --oneline --decorate
[push]
	default = simple
[web]
	browser = xdg-open
[commit]
	gpgsign = true
[magit]
	hideCampaign = true
[github]
	user = dpflug
[pull]
	ffonly = true
[core]
	quotepath = false
