! Pretty text yay
Xft.antialias:           true
Xft.hinting:             true
Xft.hintstyle:           hintfull
Xft.lcdfilter:           lcddefault

XTerm*background: Black
XTerm*foreground: Gold
UXTerm*background: Black
UXTerm*foreground: Gold
XTerm*font: xft:FuraCode Nerd Font:autohint=true:antialias=true:size=12
UXTerm*font: xft:FuraCode Nerd Font:autohint=true:antialias=true:size=12

Rxvt*background: Black

Rxvt*foreground: Gold
Rxvt*font: xft:FuraCode Nerd Font:autohint=true:antialias=true:size=12

! fade text n% on unfocus
!Rxvt*fading: 20
! Let's try some transparency.
!Rxvt*transparent: True
!Rxvt*shading: 15

! We don't need no steenkin scrollbars.
Rxvt*scrollBar: False

! Make bells a little more noticable
Rxvt*urgentOnBell: True

! But the bell flicker's annoying
Rxvt*visualBell: False

! This lets more text scroll by than can be handled by the video card. Lowers CPU usage for things with lots of output.
Rxvt*skipScroll: True

! Clickable URLs
Rxvt.perl-ext: default,matcher
Rxvt.urlLauncher: xdg-open
Rxvt.keysym.C-Delete: perl:matcher
Rxvt.underlineURLs: true

! Create a difference between fg and yellow color
Rxvt*color3: Orange

! Make Emacs a bit darker
Emacs*Background: Black
Emacs*Foreground: Gold
Emacs*Background-Mode: dark
Emacs*Font: FuraCode Nerd Font-12
